<li id="micropost-<%= micropost.id %>" class="mb-3">
    <div class="d-flex align-items-start">
        <%= link_to micropost.user do %>
        <%= gravatar_for(micropost.user, size: 50) %>
        <% end %>

        <div class="ms-2 flex-grow-1">
            <strong>
                <%= link_to micropost.user.name, micropost.user %>
            </strong>

            <p class="mb-1"><%= micropost.content %></p>

            <% if micropost.image.attached? %>
            <%= image_tag display_image(micropost),
                class: "img-fluid rounded mb-1" %>
            <% end %>

            <small class="text-muted">
                Posted <%= time_ago_in_words(micropost.created_at) %> ago.
                <% if current_user?(micropost.user) %>
                <%= button_to "Delete", micropost, method: :delete,
                data: { turbo_confirm: "Are you sure" },
                class: "btn btn-link text-danger p-0 ms-2" %>
                <% end %>
            </small>
        </div>
    </div>
</li>